1. How to import pandas and check the version?

In [53]:
import numpy as np  # optional
import pandas as pd
print(pd.__version__)
print(pd.show_versions(as_json=True))

1.3.3
{
  "system": {
    "commit": "73c68257545b5f8530b7044f56647bd2db92e2ba",
    "python": "3.9.6.final.0",
    "python-bits": 64,
    "OS": "Darwin",
    "OS-release": "19.6.0",
    "Version": "Darwin Kernel Version 19.6.0: Thu Sep 16 20:58:47 PDT 2021; root:xnu-6153.141.40.1~1/RELEASE_X86_64",
    "machine": "x86_64",
    "processor": "i386",
    "byteorder": "little",
    "LC_ALL": "en_US.UTF-8",
    "LANG": "en_US.UTF-8",
    "LOCALE": {
      "language-code": "en_US",
      "encoding": "UTF-8"
    }
  },
  "dependencies": {
    "pandas": "1.3.3",
    "numpy": "1.21.2",
    "pytz": "2021.3",
    "dateutil": "2.8.2",
    "pip": "21.2.4",
    "setuptools": "58.0.4",
    "Cython": null,
    "pytest": null,
    "hypothesis": null,
    "sphinx": null,
    "blosc": null,
    "feather": null,
    "xlsxwriter": null,
    "lxml.etree": null,
    "html5lib": null,
    "pymysql": null,
    "psycopg2": null,
    "jinja2": "3.0.1",
    "IPython": "7.27.0",
    "pandas_datareader": null,
    "bs4": null,
    "bottleneck": "1.3.2",
    "fsspec": null,
    "fastparquet": null,
    "gcsfs": null,
    "matplotlib": "3.4.3",
    "numexpr": "2.7.3",
    "odfpy": null,
    "openpyxl": null,
    "pandas_gbq": null,
    "pyarrow": null,
    "pyxlsb": null,
    "s3fs": null,
    "scipy": "1.7.1",
    "sqlalchemy": null,
    "tables": null,
    "tabulate": null,
    "xarray": null,
    "xlrd": null,
    "xlwt": null,
    "numba": null
  }
}None

2. How to create a series from a list, numpy array and dict?

In [54]:
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
print(mylist)
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

['a', 'b', 'c', 'e', 'd', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

3. How to convert the index of a series into a column of a dataframe?

In [55]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

4. How to combine many series to form a dataframe?

In [56]:
# Imput
import numpy as np
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

In [57]:
# Solution 1
df = pd.concat([ser1, ser2], axis=1)

# Solution 2
df = pd.DataFrame({'col1': ser1, 'col2': ser2})
print(df.head())

  col1  col2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4

5. How to assign name to the series’ index?

In [58]:
#Give a name to the series ser calling it ‘alphabets’.
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

In [59]:
ser.name = 'alphabets'
ser.head()

0    a
1    b
2    c
3    e
4    d
Name: alphabets, dtype: object

6. How to get the items of series A not present in series B?

In [60]:
#From ser1 remove items present in ser2

In [61]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [62]:
ser1[~ser1.isin(ser2)] 
#Using the isin() method for filtering:

0    1
1    2
2    3
dtype: int64

7. How to get the items not common to both series A and series B?

In [63]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [64]:
# union
ser_u = pd.Series(np.union1d(ser1, ser2))  
# intersect
ser_i = pd.Series(np.intersect1d(ser1, ser2))
#Using the isin() method for filtering what is not common
ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

8. How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?

In [65]:
#Compute the minimum, 25th percentile, median, 75th, and maximum of ser.
state = np.random.RandomState(100)
ser = pd.Series(np.random.normal(10, 5, 25))

In [66]:
#percentile formula 
np.percentile(ser, q=[0, 25, 50, 75, 100])

array([ 4.40849789,  6.97053979, 10.61609395, 13.78140324, 21.70610709])

9. How to get frequency counts of unique items of a series?

In [67]:
#Calculte the frequency counts of each unique value ser.

In [68]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

In [69]:
ser.value_counts()

c    5
e    5
d    5
h    4
b    3
g    3
a    3
f    2
dtype: int64

10. How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?

In [70]:
#From ser, keep the top 2 most frequent items as it is and replace everything else as ‘Other’.

In [71]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

In [72]:
print("Top 2 Freq:", ser.value_counts())
#Calculte the frequency counts of each unique value ser.
#2 most frequent items
#replace everything else by other
ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'
ser

Top 2 Freq: 3    6
2    3
1    2
4    1
dtype: int64

0     Other
1         2
2         3
3         3
4         3
5         3
6     Other
7         2
8         3
9         3
10    Other
11        2
dtype: object

11. How to bin a numeric series to 10 groups of equal size?

In [73]:
#Bin the series ser into 10 equal deciles and replace the values with the bin name.

In [74]:
ser = pd.Series(np.random.random(20))
print(ser.head())

0    0.402147
1    0.073861
2    0.347448
3    0.157465
4    0.553331
dtype: float64

In [75]:
pd.qcut(ser, q=[0, .10, .20, .3, .4, .5, .6, .7, .8, .9, 1], 
        labels=['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th']).head()

0    7th
1    2nd
2    6th
3    3rd
4    8th
dtype: category
Categories (10, object): ['1st' < '2nd' < '3rd' < '4th' ... '7th' < '8th' < '9th' < '10th']

12. How to convert a numpy array to a dataframe of given shape? (L1)

In [76]:
#Reshape the series ser into a dataframe with 7 rows and 5 columns
ser = pd.Series(np.random.randint(1, 10, 35))

In [77]:
df = pd.DataFrame(ser.values.reshape(7,5))
print(df)

   0  1  2  3  4
0  9  8  8  8  1
1  8  9  5  2  2
2  6  4  3  1  3
3  5  1  2  3  2
4  7  7  4  3  1
5  7  1  3  7  3
6  4  6  1  2  6

13. How to find the positions of numbers that are multiples of 3 from a series?

In [80]:
ser = pd.Series(np.random.randint(1, 10, 7))
ser

0    7
1    9
2    2
3    9
4    4
5    6
6    1
dtype: int64

In [81]:
print(ser)
#find the position of numbers that are multiples of 3
np.argwhere(ser % 3==0)

0    7
1    9
2    2
3    9
4    4
5    6
6    1
dtype: int64

ValueError: Length of values (1) does not match length of index (7)

14. How to extract items at given positions from a series

In [82]:
#From ser, extract the items at positions in list pos
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

In [83]:
ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

15. How to stack two series vertically and horizontally ?

In [84]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

In [87]:
#Vertical
ser1.append(ser2)

0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object

In [85]:
df = pd.concat([ser1, ser2], axis = 1)
print("\nStack two series horizontally:")
display(df)

Stack two series horizontally:

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

In [88]:
#Horizontal
df = pd.concat([ser1, ser2], axis=1)
print(df)

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

16. How to get the positions of items of series A in another series B?

In [90]:
#Get the positions of items of ser2 in ser1 as a list.
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

In [91]:
# Solution 1
[np.where(i == ser1)[0].tolist()[0] for i in ser2]

# Solution 2
[pd.Index(ser1).get_loc(i) for i in ser2]

[5, 4, 0, 8]

17. How to compute the mean squared error on a truth and predicted series?

In [92]:
#Compute the mean squared error of truth and pred series

In [93]:
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

In [94]:
np.mean((truth-pred)**2)

0.5181945312030274